
<div class="body">

   <section class="info">
      <img src="assets/images/coronavirus.webp" alt="Corona-Virus">

      <article class="intro">
         <h1>What to Know ?</h1>
         <p>Coronavirus (COVID-19) is an infectious diesease that affects mammals, including humans</p>
         <p>177+ Countries are curently affected with the virus and many cases have been reported.</p>
         <p>Most people infected with the COVID-19 virus will experience 
            mild to moederate respiratory illness and recover without requiring
            special treatment
         </p>
      </article>      
   </section>

   <!-- display world index -->
   <h2 class="review-header">Update Round The World</h2>
   <section class="world-review" *ngFor="let item of worldIndex">
      <div class="world world-case">
         <h1>{{item.cases}}</h1>
         <p>Total Cases</p>
      </div>

      <div class="world world-death">
         <h1>{{item.deaths}}</h1>
         <p>total Deaths</p>
      </div>

      <div class="world world-recovery">
         <h1>{{item.recovered}}</h1>
         <p>Recovered</p>
      </div>
   </section>



   <div class="health">
      <div class="symptons heth">
      <h2>Symptons</h2>
      <ul>
         <li>Fever</li>
         <li>Dry Cough</li>
         <li>Breathing Diffculties</li>
         <li>Fatigue</li>
         <li>Aches and Pains</li>
         <li>Running Nose</li>
         <li>SOre Throat</li>
         <li>Diarrhoea</li>
      </ul>
      <pre>At critical conditions, it canlead to heart failure</pre>
      </div>

      <div class="spread">

         <div class="spread-how heth">
            <h2>How It Spreads</h2>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, vitae. Dolores reprehenderit neque eum quam molestiae error, repellendus laudantium non incidunt, eaque consequuntur alias provident nam eligendi placeat. Saepe, repellat.
            </p>
         </div>

         <div class="spread_prevent heth">
            <h2>How It Can Be Prevented</h2>
            <ul>
               <li>Wash Your Hans</li>
               <li>Don't touch your face</li>
               <li>Social Distancing</li>
               <li>Sneeze into Rolls and Dispose</li>
               <li></li>
            </ul>
         </div>

      </div>

   </div>




   <!-- display Nigeria Index -->
   <h2 class="review-header">Nigeria's Update (NCDC)</h2>
   <section class="world-review" *ngFor="let item of nigeriaIndex">

      <div class="world world-case">
         <h1>{{item.cases}}</h1>
         <p>Total Cases</p>
      </div>

      <div class="world world-death">
         <h1>{{item.deaths}}</h1>
         <p>total Deaths</p>
      </div>

      <div class="world world-recovery">
         <h1>{{item.recovered}}</h1>
         <p>Recovered</p>
      </div>
   </section>

   
</div>