
<div class="body">

   <section class="info">
      <img src="assets/images/coronavirus.webp" alt="Corona-Virus">

      <article class="intro">
         <h1>What to Know ?</h1>
         <p>Coronavirus (COVID-19) is an infectious diesease that affects mammals, including humans</p>
         <p>177+ Countries are curently affected with the virus and many cases have been reported.</p>
         <p>Most people infected with the COVID-19 virus will experience 
            mild to moederate respiratory illness and recover without requiring
            special treatment
         </p>
      </article>      
   </section>

   <section class="world-review">
      <div class="world world-case">
         <h1>200,000</h1>
         <p>total Cases</p>
      </div>

      <div class="world world-death">
         <h1>150,000</h1>
         <p>total Deaths</p>
      </div>

      <div class="world world-recovery">
         <h1>50,000</h1>
         <p>Recoveries</p>
      </div>
   </section>

   
</div>