
<div class="body">

   <section class="info">
      <img src="assets/images/coronavirus.webp" alt="Corona-Virus">

      <article class="intro">
         <h1>What to Know ?</h1>
         <p>
            Coronavirus disease (COVID-19) is an infectious diesease caused by a newly discovered coronavirus.
            At this time,ther are no specific vaccines or treatment fot COVID-19. however, there are many ongoing
            clinical trialsevaluating potential treatment.
         </p>
         <p>
            Most People infected with the COVID-19 virus will experience mild to moderate resiratory illness
            and recover without requiring special treatment. Older people, and those with underlying medical problems
            like cardiovascular disease, diabetes, chronic respiratory disease and cancer are more likely to develop 
            serious illness.
         </p>
         <p>
            206 Countries,areas or territories are curently affected with the virus and many cases have been reported.
            The COVID-19 virus spread primarily through droplets of saliva or discharge from the nose when an infected 
            person coughs or sneezes, so it's important that you also practice respiratory eitquette (for example,
            by coughing into a flexed elbow).
         </p>

      </article>      
   </section>

   <!-- display world index -->
   <h2 class="review-header">Update Round The World</h2>
   <section class="world-review" *ngFor="let item of worldIndex">
      <div class="world world-case">
         <h1>{{item.cases | number}}</h1>
         <p>Total Cases</p>
      </div>

      <div class="world world-death">
         <h1>{{item.deaths | number}}</h1>
         <p>total Deaths</p>
      </div>

      <div class="world world-recovery">
         <h1>{{item.recovered | number}}</h1>
         <p>Recovered</p>
      </div>
   </section>



   <div class="health">
      <div class="image-container heth">

         <img src="assets/images/covid19.jpg" alt="Stay Home">
         <img src="assets/images/know the facts.jpg" alt="Stay Home">
         <img src="assets/images/wash hands.jpg" alt="Stay Home">
         <img src="assets/images/airborne.jpg" alt="Stay Home">
      </div>

      <div class="spread">

         <div class="spread-how heth">
            <h1>Symptoms Of COVID-19 virus</h1>
            <p>
               The COVID-19 virus affects peoplein different ways. COVID-19 is a respiratory
               disease and most infected people will develop mild to moderate symptons and recover
               wwithout special treatment. People who have underlying medical conditions and those over 60
               years old have a highert risk of developing severe disease and death.
            </p>
            <p>
               Common symptoms include fever, tiredness and dry cough. Others 
               symptoms include shortness of breath, aches and pains, sore throat, runny nose and 
               few people will report diarrhoea and nausea.
            </p>
            <p>
               People with mild symptoms who are otherwise healthy should self-isolate and contact 
               their medical provider or a COVID-19 information line for advice on testing referral.
            </p>
            <p>
               People with fever, cough or difficulty breathing should call their doctor and seek medical attention.
            </p>
         </div>

         <div class="spread_prevent heth">
            <h2>How It Can Be Prevented</h2>
            <section class="video-container">
               <iframe width="788" height="443" src="https://www.youtube.com/embed/8c_UJwLq8PI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
         </div>

      </div>

   </div>




   <!-- display Nigeria Index -->
   <h2 class="review-header">Nigeria's Update (NCDC)</h2>
   <section class="world-review" *ngFor="let item of nigeriaIndex">

      <div class="world world-case">
         <h1>{{item.cases | number}}</h1>
         <p>Total Cases</p>
      </div>

      <div class="world world-death">
         <h1>{{item.deaths | number}}</h1>
         <p>total Deaths</p>
      </div>

      <div class="world world-recovery">
         <h1>{{item.recovered | number}}</h1>
         <p>Recovered</p>
      </div>
   </section>

   
</div>