<div class="body">
   <h1>CoronaVirus by Country</h1>

   <input type="text" placeholder="Search Country" [(ngModel)]="term"/>
   

   <div class="countryInfo" *ngFor="let item of countriesData | filter:term">
      <h2>{{item.country}}</h2>
   
      <p>
        Total Cases: {{item.cases | number}}  | Total Deaths: {{item.deaths | number}} | Total Recovered: {{item.recovered | number}}
      </p>
   
      <p>
         Today Cases: {{item.todayCases | number}} | Today Deaths: {{item.todayDeaths | number}}
      </p>
      <p>
        Active Cases: {{item.active | number}} | Critical Cases : {{item.critical | number}}
      </p>

   </div>
</div>


